{% extends "base2.html" %}
{% block title %} Como Utilizar {% endblock %}

{% block content %}
<h1>Como utilizar?</h1>
<p>
    Para navegar pelo nosso site, utilize o menu de navegação no topo da página. Você pode explorar diferentes categorias de produtos e páginas específicas para obter informações detalhadas e opções de compra.
</p>
<p>
    Utilize a barra de pesquisa para encontrar produtos rapidamente. Basta digitar o nome do produto, categoria ou palavra-chave e pressionar Enter ou clicar no ícone de pesquisa para visualizar os resultados correspondentes.
</p>
<p>
    Ao encontrar o produto desejado, clique em "Adicionar ao Carrinho" para selecioná-lo. Acesse seu carrinho de compras para revisar os itens escolhidos e prossiga para o checkout. Preencha as informações necessárias e escolha um método de pagamento seguro para concluir a compra.
</p>
<p>
    Para uma experiência personalizada, crie uma conta de cliente utilizando seu e-mail e uma senha segura. Isso permitirá que você acompanhe seus pedidos, gerencie suas informações pessoais e tenha acesso a promoções exclusivas oferecidas pela Mih's store.
</p>
{% endblock %}