{% extends "base2.html"%}
{% block title %}Home Page{% endblock %}

{{% block content %}}
    <h1>Home</h1>
    <!-- <img src="{{ url_for('static', filename='loja.jpg') }}" alt=""> -->
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum esse expedita nulla harum dolores saepe perferendis veniam earum voluptates, corporis illo commodi eligendi praesentium, repellendus veritatis consequuntur distinctio explicabo beatae.
    Tempore est eaque explicabo cupiditate fugit, aspernatur beatae quas tenetur impedit, architecto aliquam voluptas voluptates eius numquam totam nam soluta commodi facere reprehenderit minima vitae similique quibusdam hic? Excepturi, sapiente.
    Saepe labore eligendi cumque quaerat nesciunt suscipit voluptatem autem recusandae sunt doloribus mollitia blanditiis quas perspiciatis, aliquid accusantium beatae doloremque? Nobis nostrum impedit quo in esse perferendis non amet dolorum.
    Delectus, itaque vero in deleniti rerum voluptatem illum sapiente id. Numquam tenetur non, rem totam hic consequatur distinctio? Quo illo voluptatum et voluptatem vero iure aliquid aliquam itaque esse est!
    At ad eligendi qui dolor! Veritatis atque consectetur alias minima in tempore ea! Facere minus adipisci iste sed enim, dolor dolorem vero similique ipsam saepe laborum sint magni, in quo?</p>
{{% endblock %}}