{% extends "base2.html" %}
{% block title %} Política Privacidade{% endblock %}

{% block content %}
    <h1>Política de Privacidade</h1>
    <p>
        A Mih's s está comprometida em proteger a privacidade e os dados pessoais de todos os nossos clientes. Quando você utiliza nossos serviços, confia a nós informações importantes, como nome, endereço, e-mail e dados de pagamento. Essas informações são essenciais para processar suas compras e garantir a entrega dos produtos solicitados de forma eficiente.
    </p>
    <p> 
        Entendemos a importância de manter suas informações seguras e confidenciais. Utilizamos práticas rigorosas de segurança para proteger seus dados contra acesso não autorizado, alteração, divulgação ou destruição. Nossos sistemas são projetados para garantir que suas informações estejam sempre protegidas, e nosso pessoal é treinado para lidar com seus dados com responsabilidade.</p>
    <p>
        Respeitamos sua privacidade e não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros não autorizados. Utilizamos suas informações apenas para os fins específicos para os quais foram coletadas, como processar pedidos, oferecer suporte ao cliente, melhorar nossos serviços e enviar comunicações relevantes, sempre com seu consentimento prévio.</p>
    <p>
        Ao utilizar nossos serviços, você concorda com as práticas descritas nesta política de privacidade. Nosso compromisso é fornecer transparência sobre como suas informações são coletadas, usadas e protegidas. Se tiver dúvidas sobre nossa política de privacidade ou desejar acessar, corrigir ou excluir suas informações pessoais, entre em contato conosco. Estamos aqui para ajudar e garantir que sua experiência conosco seja segura e satisfatória.</p>
  
{% endblock %}
