{% extends "base.html" %}
{% block title %}Página de Produtos{% endblock %}

{% block content %}
    <h1 class="container-titulo">Produtos</h1>
    <section class="produtos">
        {%if produtos%}
        {% for produto in produtos %}
           <div class="produto">
            <h2 class="titulo"> {{produto.nome}} </h2>
            <p class="descricao"> {{produto.descricao}} </p>
           </div>
        {% endfor %}
        {% else %}
        <p>Aguarde o lançamento dos produtos</p>
        {% endif %}
    </section>
{% endblock %}
