{% extends "base2.html" %}
{% block title %} Termos de Uso{% endblock %}

{% block content %}
    <h1>Termos de uso</h1>
    <h3>Bem-vindo aos Termos de Uso da Mih's store. Ao utilizar nosso website e serviços, você concorda com os termos e condições descritos abaixo. Por favor, leia atentamente antes de prosseguir:</h3>
    <ol>
       <li><span>Aceitação dos Termos: </span>Ao acessar ou utilizar nosso site, você concorda em cumprir estes Termos de Uso e todas as leis e regulamentos aplicáveis. Se você não concorda com algum destes termos, não utilize nosso site.</li>
       <li><span>Uso do Site: </span>O conteúdo do site é fornecido para sua informação pessoal e não comercial. Você concorda em não modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar, licenciar, criar trabalhos derivados, transferir ou vender qualquer informação, software, produtos ou serviços obtidos através deste site.</li>
       <li><span>Registro e Conta: </span>Ao se registrar em nosso site, você é responsável por manter a confidencialidade de sua conta e senha, e por restringir o acesso ao seu computador. Você concorda em aceitar a responsabilidade por todas as atividades que ocorram em sua conta ou senha.</li>
       <li><span>Propriedade Intelectual: </span>Todo o conteúdo presente no site, como textos, gráficos, logotipos, ícones, imagens, clipes de áudio, downloads digitais, compilações de dados e software, é propriedade da Mih's store ou de seus fornecedores e é protegido por leis de direitos autorais.</li>
       <li><span>Comunicações Eletrônicas: </span>Ao utilizar nosso site, você consente em receber comunicações eletrônicas da nossa parte. Essas comunicações podem incluir e-mails sobre sua conta, promoções, novos produtos e outras informações relevantes.</li>
    </ol>
    <form action="/" method="post">
        <input type="checkbox" name="termos_uso" id="termos_uso"> Ao utilizar nosso site, você concorda com estes Termos de Uso. Se tiver alguma dúvida ou preocupação, entre em contato conosco. Obrigado por escolher a Mih'store
    </form>
    <p>.</p>

{% endblock %}

